.gridPrincipal {
  width: 1500px;
  margin: 0 -25%;
  height: auto;
  display: flex;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.gridIzq {
  width: 30%;
  height: auto;
}
.gridDer {
  width: 70%;
  height: auto;
}
.form {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}
.espacio {
  width: 100%;
  height: 10px;
  margin-bottom: 10%;
}
.img {
  margin-top: 20%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: 13%;
  margin-bottom: 8%;
}
.label {
  z-index: 1;
  font-size: 25px;
  top: 0.8rem;
}
.input {
  z-index: 0;
  height: 50px;
  width: 50%;
  margin-bottom: 10px;

  border: 1px solid black;
  border-radius: 0.4rem;
  outline: none;
}
.input:hover {
  background-color: aliceblue;
}
.button {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 17%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  background-color: goldenrod;
  color: white;
  font-style: none;
  height: 40px;
  width: 160px;
  border: 0;
}
.button:hover {
  background-color: #002535;
  border: 0;
}
