@media only screen and (min-width: 800px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    font-family: sans-serif;
    margin-top: 20px;
  }
  .tarjeta ul {
    margin-left: -25px;
    list-style: none;
    display: flex;
  }

  .productName {
    margin-top: -10px;
    align-self: flex-start;
    font-size: 18px;
  }
  .productDescription {
    margin-top: -12px;
    align-self: flex-start;
    font-size: 14px;
    color: grey;
  }
  .productPrice {
    margin-left: 38%;
    margin-top: -10px;
    align-self: flex-start;
    text-align: end;
    font-size: 14px;
  }

  .titulo {
    font-size: 22px;
    padding: 10px 10px 0 10px;
  }
  .cuerpo {
    padding: 10px;
  }
  .cuerpo img {
    width: 100%;
    height: auto;
  }
  .pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
  }
  .pie a {
    text-decoration: none;
    color: white;
  }
  .pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  .blackButton {
    background-color: black;
    color: white;
    margin: 0 1%;
    height: 40px;
    margin-top: 20px;
    border-radius: 35px;
    margin-left: -85%;
    width: 140%;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .blackButton:hover {
    background-color: #787474;
  }
}
@media only screen and (min-width: 1300px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    font-family: sans-serif;
    margin-top: 20px;
  }
  .tarjeta ul {
    margin-left: -25px;
    list-style: none;
    display: flex;
  }

  .productName {
    margin-top: -10px;
    align-self: flex-start;
    font-size: 18px;
  }
  .productDescription {
    margin-top: -12px;
    align-self: flex-start;
    font-size: 14px;
    color: grey;
  }
  .productPrice {
    margin-left: 38%;
    margin-top: -10px;
    align-self: flex-start;
    text-align: end;
    font-size: 14px;
  }

  .titulo {
    font-size: 22px;
    padding: 10px 10px 0 10px;
  }
  .cuerpo {
    padding: 10px;
  }
  .cuerpo img {
    width: 100%;
    height: auto;
  }
  .pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
  }
  .pie a {
    text-decoration: none;
    color: white;
  }
  .pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  .blackButton {
    background-color: black;
    color: white;
    margin: 0 1%;
    height: auto;
    margin-top: 20px;
    border-radius: 35px;
    margin-left: -95%;
    width: 150%;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .blackButton:hover {
    background-color: #787474;
  }
}
@media only screen and (min-width: 1800px) {
  .tarjeta {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    font-family: sans-serif;
    margin-top: 20px;
  }
  .tarjeta ul {
    list-style: none;
    width: 100%;
  }

  .productName p {
    background: lightgrey;
    width: 100%;

    align-self: flex-start;
    margin-left: 5%;
    font-size: 20px;
  }
  .productDescription {
    margin-top: -12px;
    align-self: flex-start;
    font-size: 16px;
    color: grey;
  }
  .productPrice {
    margin-left: 38%;
    align-self: flex-start;
    text-align: end;
    font-size: 16px;
  }

  .titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
  }
  .cuerpo {
    padding: 10px;
  }
  .cuerpo img {
    width: 100%;
    height: auto;
  }
  .pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
  }
  .pie a {
    text-decoration: none;
    color: white;
  }
  .pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  .blackButton {
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 30px;
    border-radius: 35px;
    width: 110px;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .blackButton:hover {
    background-color: #787474;
  }
}
